In [13]:
import pandas as pd
#data preprocessing
df= pd.read_csv("crime_dataset_india1.csv")
df

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40155,40156,01-08-2024 16:00,07-31-2024 03:00,31-07-2024 05:05,Kolkata,312,COUNTERFEITING,78,F,Firearm,Other Crime,12,No,NaN
40156,40157,31-07-2024 14:00,07-31-2024 04:00,31-07-2024 04:14,Mumbai,300,ILLEGAL POSSESSION,75,F,NaN,Other Crime,2,Yes,29-09-2024 14:00
40157,40158,02-08-2024 03:00,07-31-2024 05:00,31-07-2024 21:33,Kanpur,423,VEHICLE - STOLEN,68,M,Other,Violent Crime,6,No,NaN
40158,40159,01-08-2024 19:00,07-31-2024 06:00,31-07-2024 11:05,Patna,311,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,1,No,NaN
40159,40160,31-07-2024 17:00,07-31-2024 07:00,31-07-2024 17:19,Delhi,193,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,7,Yes,28-09-2024 17:00

In [14]:
#df.head()
#df['Crime Description'].unique()

In [15]:
df=df.dropna(subset=['City','Time of Occurrence','Victim Age','Victim Gender','Crime Domain'])
#droping null values

In [16]:
df=df[['City','Time of Occurrence','Victim Age','Victim Gender','Crime Domain']]
#jo columns chaiye vo select krliye

In [17]:
df

            City Time of Occurrence  Victim Age Victim Gender   Crime Domain
0      Ahmedabad   01-01-2020 01:11          16             M  Violent Crime
1        Chennai   01-01-2020 06:26          37             M    Other Crime
2       Ludhiana   01-01-2020 14:30          48             F    Other Crime
3           Pune   01-01-2020 14:46          49             F    Other Crime
4           Pune   01-01-2020 16:51          30             F    Other Crime
...          ...                ...         ...           ...            ...
40155    Kolkata   31-07-2024 05:05          78             F    Other Crime
40156     Mumbai   31-07-2024 04:14          75             F    Other Crime
40157     Kanpur   31-07-2024 21:33          68             M  Violent Crime
40158      Patna   31-07-2024 11:05          11             M  Violent Crime
40159      Delhi   31-07-2024 17:19          43             F  Violent Crime

[40160 rows x 5 columns]

In [18]:
#label encoding (convert text to numbers)
from sklearn.preprocessing import LabelEncoder
le_city=LabelEncoder()
df['City']=le_city.fit_transform(df['City'])
le_gender=LabelEncoder()
df['Victim Gender']=le_gender.fit_transform(df['Victim Gender'])
# date time column fix kia , date aur time dono ko alg alg kiya aur date time column full ko drop kr diya
df['Time of Occurrence']=pd.to_datetime(df['Time of Occurrence'],errors='coerce')
df['Time']=df['Time of Occurrence'].dt.hour
df=df.drop(columns=['Time of Occurrence'])
print(le_city.classes_)

['Agra' 'Ahmedabad' 'Bangalore' 'Bhopal' 'Chennai' 'Delhi' 'Faridabad'
 'Ghaziabad' 'Hyderabad' 'Indore' 'Jaipur' 'Kalyan' 'Kanpur' 'Kolkata'
 'Lucknow' 'Ludhiana' 'Meerut' 'Mumbai' 'Nagpur' 'Nashik' 'Patna' 'Pune'
 'Rajkot' 'Srinagar' 'Surat' 'Thane' 'Varanasi' 'Vasai' 'Visakhapatnam']

In [19]:
#print(df.isnull().sum()) 
#hmare paass time me 23k rows NaN thi to hmne usme most common time daal diya from our dataset jiske liye hmne uska mode nikala
mct=df['Time'].mode()[0]
print("mct",mct)
#hmara mct aya 3.0 jiska mtlb 3 bje
#now we will replace NaN values with mct
df["Time"].fillna(mct)

mct 3.0

0         1.0
1         6.0
2        14.0
3        14.0
4        16.0
         ...
40155     3.0
40156     3.0
40157     3.0
40158     3.0
40159     3.0
Name: Time, Length: 40160, dtype: float64

In [20]:
print(df['Time'].isnull().sum())
df

24332

       City  Victim Age  Victim Gender   Crime Domain  Time
0         1          16              1  Violent Crime   1.0
1         4          37              1    Other Crime   6.0
2        15          48              0    Other Crime  14.0
3        21          49              0    Other Crime  14.0
4        21          30              0    Other Crime  16.0
...     ...         ...            ...            ...   ...
40155    13          78              0    Other Crime   NaN
40156    17          75              0    Other Crime   NaN
40157    12          68              1  Violent Crime   NaN
40158    20          11              1  Violent Crime   NaN
40159     5          43              0  Violent Crime   NaN

[40160 rows x 5 columns]

In [21]:
# target column , voilent crime ko unsafe(0) and other crime ko safe(1)
df['is_safe']=df['Crime Domain'].apply(lambda x:0 if str(x).strip().lower() =='violent crime' else 1)

In [22]:
# unsafe_keywords = ['KIDNAPPING', 'BURGLARY','ASSAULT', 'VEHICLE - STOLEN','EXTORTION', 'PUBLIC INTOXICATION', 'SEXUAL ASSAULT',
#        'DRUG OFFENSE','ILLEGAL POSSESSION']

# def mark_safe(text):
#     text = str(text).lower()
#     return 0 if any(word in text for word in unsafe_keywords) else 1

# df['is_safe'] = df['Crime Description'].apply(mark_safe)
print(df['is_safe'].value_counts())

is_safe
1    28688
0    11472
Name: count, dtype: int64

In [26]:
# train model (ogistic regression use kiya ha becz hm ak percentage de rahe h as a confidence score for safe and unself thing)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

x=df[['City','Time','Victim Age','Victim Gender']]
y=df['is_safe']
#clearing nan values 
data=pd.concat([x,y],axis=1)
data=data.dropna()
x_clean=data[x.columns]
y_clean=data[y.name]
#split data for testing and training 
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

#train model
# model=LogisticRegression(class_weight='balanced',max_iter=1000)
# model.fit(x_clean , y_clean)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(x_train, y_train)
print(y.value_counts())      # distribution before the split
print(y_train.value_counts())  # distribution in the training fold

is_safe
1    28688
0    11472
Name: count, dtype: int64
is_safe
1    22978
0     9150
Name: count, dtype: int64

In [29]:
def predict_safety(city,time_hour,age,gender):
    try:
        if city not in le_city.classes_:
            return{"OOPS! City not yet found . We're reaching there soon !"}
        if gender not in le_gender.classes_:
            return("Wrong choice entered")
        city_encoded=le_city.transform([city])[0]
        gender_encoded=le_gender.transform([gender])[0]
        input_data=pd.DataFrame([{
            "City":city_encoded,
            "Time":time_hour,
            "Victim Age":age,
            "Victim Gender":gender_encoded
        }])
        prob=model.predict_proba(input_data)[0]
        return {
           "safe ":float(round(prob[1]*100,2)),
           "unsafe":float(round(prob[0]*100,2)),
           "interpretation":"Likely Safe" if prob[1]>0.5 else "Likely unsafe, try to avoid!"
       }

    except Exception as e:
         return {"error":str(e)}

In [30]:

# result=predict_safety("Mumbai",18,15,"Female")
for i in range(len(le_city.classes_)):
    print(i,le_city.inverse_transform([i])[0])

print(le_gender.classes_)

0 Agra
1 Ahmedabad
2 Bangalore
3 Bhopal
4 Chennai
5 Delhi
6 Faridabad
7 Ghaziabad
8 Hyderabad
9 Indore
10 Jaipur
11 Kalyan
12 Kanpur
13 Kolkata
14 Lucknow
15 Ludhiana
16 Meerut
17 Mumbai
18 Nagpur
19 Nashik
20 Patna
21 Pune
22 Rajkot
23 Srinagar
24 Surat
25 Thane
26 Varanasi
27 Vasai
28 Visakhapatnam
['F' 'M' 'X']

In [31]:
result=predict_safety("Varanasi",13,45,'F')
print(result)

{'safe ': 65.0, 'unsafe': 35.0, 'interpretation': 'Likely Safe'}

In [32]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(x_clean)
accuracy = accuracy_score(y_clean, y_pred)
print("Model Accuracy:", round(accuracy * 100, 2), "%")

Model Accuracy: 89.81 %

In [34]:
import pickle
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(le_city,open('le_city.pkl','wb'))
pickle.dump(le_gender,open('le_gender.pkl','wb'))